site_name: ropt Documentation

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.expand
    - navigation.footer
    - navigation.sections
    - content.code.copy
    - content.code.annotate
  palette:
    - media: "(prefers-color-scheme: light)"
      primary: indigo
      accent: blue
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      primary: teal
      accent: lime
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - search
  - mike
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [src, examples]
          options:
            show_source: false
            show_bases: true
            show_root_toc_entry: false
            show_root_heading: true
            show_root_full_path: true
            show_root_members_full_path: false
            heading_level: 2
            members_order: source
            show_symbol_type_heading: true
            separate_signature: true
            show_signature_annotations: True
          inventories:
            - https://docs.python.org/3/objects.inv
            - https://docs.pydantic.dev/latest/objects.inv

markdown_extensions:
  - admonition
  - def_list
  - footnotes
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.snippets:
      base_path: ["docs/snippets"]
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji 
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

extra:
  version:
    provider: mike

watch:
  - src

repo_url: https://github.com/TNO-ropt/ropt
repo_name: TNO-ropt/ropt

nav:
  - "About": index.md
  - "Usage": 
      - "Background": usage/background.md
      - "Basic Optimization": usage/basic.md
      - "Optimization workflows": usage/workflows.md
  - "Reference":
      - "Workflows":
          - "Optimization Workflows": reference/workflows/workflow.md
          - "Basic Optimizer": reference/workflows/basic_optimizer.md
      - "Optimization":
        - "Configuration": reference/optimization/enopt_config.md
        - "Domain Transforms": reference/optimization/domain_transforms.md
        - "Ensemble Optimization": reference/optimization/optimization.md
        - "Function Evaluations": reference/optimization/evaluator.md
        - "Optimization Results": reference/optimization/results.md
      - "Plugins":
        - "Plugin Manager": reference/plugins/plugin_manager.md
        - "Workflow Plugins":        
          - "Compute Steps": reference/plugins/workflow/compute_steps.md
          - "Event Handlers": reference/plugins/workflow/event_handler.md
          - "Evaluators": reference/plugins/workflow/evaluator.md
          - "Servers": reference/plugins/workflow/server.md
        - "Optimizer Plugins":
          - "Optimizers": reference/plugins/optimizer/optimizer.md
          - "Samplers": reference/plugins/optimizer/sampler.md
          - "Realization Filters": reference/plugins/optimizer/realization_filter.md
          - "Function estimators": reference/plugins/optimizer/function_estimator.md
        - "Default Plugins":
          - "Compute Steps": reference/plugins/default/compute_steps.md
          - "Event Handlers": reference/plugins/default/event_handler.md
          - "Evaluators": reference/plugins/default/evaluator.md
          - "Servers": reference/plugins/default/server.md
          - "SciPy Optimizers": reference/plugins/default/scipy_optimizer.md
          - "SciPy Samplers": reference/plugins/default/scipy_sampler.md
          - "Default Realization Filters": reference/plugins/default/realization_filter.md
          - "Default Function Estimators": reference/plugins/default/function_estimator.md
          - "External Optimizers": reference/plugins/default/external_optimizer.md
      - "Miscellaneous":
        - "Enumerations": reference/miscellaneous/enums.md
        - "Exceptions": reference/miscellaneous/exceptions.md
        - "Utilities": reference/miscellaneous/utilities.md

exclude_docs: |
  /snippets/
