site_name: ropt Documentation

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.expand
    - navigation.footer
    - navigation.sections
    - content.code.copy
    - content.code.annotate
  palette:
    - media: "(prefers-color-scheme: light)"
      primary: indigo
      accent: blue
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      primary: teal
      accent: lime
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - search
  - mike
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [src, examples]
          options:
            show_source: false
            show_bases: true
            show_root_toc_entry: false
            show_root_heading: true
            show_root_full_path: true
            show_root_members_full_path: false
            heading_level: 2
            members_order: source
            show_symbol_type_heading: true
            separate_signature: true
            show_signature_annotations: True
          inventories:
            - https://docs.python.org/3/objects.inv
            - https://docs.pydantic.dev/latest/objects.inv

markdown_extensions:
  - admonition
  - def_list
  - footnotes
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.snippets:
      base_path: ["docs/snippets"]
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji 
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

extra:
  version:
    provider: mike

watch:
  - src

repo_url: https://github.com/TNO-ropt/ropt
repo_name: TNO-ropt/ropt

nav:
  - "About": index.md
  - "Introduction": usage/robust_optimization.md
  - "Reference":
      - "Workflows":
          - "Optimization Workflows": reference/workflow.md
          - "Basic Optimizer": reference/basic_optimizer.md
      - "Optimization":
        - "Configuration": reference/enopt_config.md
        - "Domain Transforms": reference/domain_transforms.md
        - "Ensemble Optimization": reference/optimization.md
        - "Function Evaluations": reference/evaluator.md
        - "Optimization Results": reference/results.md
      - "Plugins":
        - "Plugin Manager": reference/plugin_manager.md
        - "Workflow Plugins":        
          - "Operations": reference/operation_plugins.md
          - "Event Handlers": reference/event_handler_plugins.md
          - "Evaluators": reference/evaluator_plugins.md
        - "Optimizer Plugins":
          - "Optimizers": reference/optimizer_plugins.md
          - "Samplers": reference/sampler_plugins.md
          - "Realization Filters": reference/realization_filter_plugins.md
          - "Function estimators": reference/function_estimator_plugins.md
        - "Default Plugins":
          - "Operations": reference/default_operation_plugins.md
          - "Event Handlers": reference/default_event_handler_plugins.md
          - "Evaluators": reference/default_evaluator_plugins.md
          - "SciPy Optimizers": reference/scipy_optimizer_plugin.md
          - "SciPy Samplers": reference/scipy_sampler_plugin.md
          - "Default Realization Filters": reference/default_realization_filter_plugin.md
          - "Default Function Estimators": reference/default_function_estimator_plugin.md
          - "External Optimizers": reference/external_optimizer_plugin.md
      - "Miscellaneous":
        - "Enumerations": reference/enums.md
        - "Exceptions": reference/exceptions.md
        - "Utilities": reference/utilities.md

exclude_docs: |
  /snippets/
